# generated
*.pyc
*.pyo
*.pid
migrations
public/assets
# eclipse project config
.project
.pydevproject
.settings
# db
sqlite3.db
data.txt
db/*.sqlite3
#data
#db
# folders
webroot
tmp
# logs
logs
log
# local settings
*.swp
