<input type="hidden" id="guid" value="<%= @matrix.guid %>" />
<div class="header clearfix">
    <h1>中国电信</h1>
    <h2></h2>
    <div class="logout" title="退出"><a href="/logout/">退出</a></div>
    <div class="navigator" id="navigator" title="返回大屏首页"><a href="/dashboard/">返回大屏首页</a></div>
    <div class="mode">
        <span class="viewer live" title="自动模式"><a href="#" id="viewer">观察</a></span><span class="controller" title="控制模式"><a href="#" id="controller">控制</a></span>
    </div>
    <div class="sys-time">2011年6月30日 14:00:00</div>
</div>
